---
import { Button, Icon } from 'astro-pure/user'
import { cn } from 'astro-pure/utils'
import PageLayout from '@/layouts/BaseLayout.astro'
import { integ } from '@/site-config'

import DocsContents from './DocsContents.astro'

const meta = {
  title: '文档',
  description: '主题使用文档内容'
}
---

<PageLayout {meta}>
  <Button title='返回' href='/' style='back' />
  <main class='mt-6 lg:mt-10'>
    <div id='content-header' class='animate'>
      <h1 class='mb-6 text-3xl font-medium'>Astro Theme Pure 文档</h1>
    </div>

    <div id='content' class={cn('animate mt-8 max-w-none md:min-w-[45ch]', integ.typography.class)}>
      <h2 class='text-xl font-medium'>主题文档</h2>
      <DocsContents title={false} />

      <h2 class='text-xl font-medium'>反馈</h2>
      <p>
        如有任何问题，您可以查看
        <a href='https://github.com/cworld1/astro-theme-pure/issues' target='_blank'>
          GitHub Issues
        </a>
        获取社区支持。
      </p>
      
      <h2 class='text-xl font-medium'>更新说明 (Alpha版)</h2>
      <p>
        <a href='/docs/rss.xml' target='_blank'>
          <Icon name='rss' /> RSS订阅
        </a>
      </p>
    </div>
  </main>
</PageLayout>